html
	head
		title= title[language]
		style
			include ./css/main.css
		style
			include ./css/splashscreen.css
		script
			include ../js/splashscreen.js
	body
		div(id="header")
			div(id="menu")
				
		div(id="container")
				div(id="image")
					div(id="image_search" class="banner help animatedBounceIn")
						div(class="text")
							Search for predictions of varying stocks! We are always keeping track of your searches so if a stock of interest isnt being tracked by our system, it just might be in the near future.
					img(id="dot1"  style="margin-left: 150px"
						src="../images/image_dot.png")
					img(id="dot2"  src="../images/image_dot.png")
					img(id="dot3"  src="../images/image_dot.png")
					
					div(id="image_suggest" class="banner help animatedBounceIn")
						div(class="text")
							Get suggestions on what stocks might be right for you. Our system will calculate and display the stocks with the highest predicted gain.
					img(id="dot4" class="dot animatedBounceIn" style="margin-left: 140px" src="../images/image_dot.png")
					img(id="dot5" class="dot animatedBounceIn" src="../images/image_dot.png")
					img(id="dot6" class="dot animatedBounceIn" src="../images/image_dot.png")
					
					div(id="image_track" class="banner help animatedBounceIn")
						div(class="text")
							Own or have a stock of interest? With a StockHawk account you can track and get alerts for all stocks within your "watch list"

				div(id="bars_container")
				div(id="search")
					form(action="search.php" method="get")
						div(id="searchbar")
							input(type="text" value="Search" id="keyword" class="input_search" name="q")
						input(type="submit" id="button_search" class="button button_search" name="search")
						input(type="submit" id="button_suggest" class="button button_search" name="suggest")

