html
	head
		title= title[language]
	body
		p "         delete"
		each stock in stocks
			- var l = ' '
			each val, key in stock
				l= l+ key + ' : ' + val + ' '
			- var btnType = 'info'
			- var btnSize = 'lg'
			button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) delete
			br