html
	head
		title= title[language]
		link(rel="stylesheet", href="/css/style.css")
		script(src="/js/PublicJS.js")
	body
		div(id="wrapper")
			div(class="page-header")
				h2 All Stocks
				
				
			div(class='page-data')
				div(class='data-btn')
					button(type='button' onClick="addStock()") + Add
				div(class='data-table')
					table(border="1" cellpadding="7" cellspacing="7")
						tr
							th(width="100px") ID
							th(width="270px") Symbol
							th Name
							th(width="120px") Action
						each stock in stocks
							tr
								td #{stock.id}
								td #{stock.symbol}
								td #{stock.name}
								td
									form(method="add" action='/stock_list/edit/' + stock.symbol)
										input(class="edit" type="submit" name="submit" value="Edit")
									form(method="post" action='/stock_list/delete/' + stock.symbol)
										input(class="delete" type="submit" name="submit" value="Delete")
									